{% extends 'base.html' %}

{% block content %} 
        <table class="table">
            <thead>
              <tr>
                <th scope="col">RollNumber</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in data %}
              <tr>
                <th scope="row">{{obj[0]}}</th>
                <th scope="row">{{obj[1]}}</th>
                <th scope="row">{{obj[2]}}</th>
                <th scope="row">{{obj[3]}}</th>
              </tr>
                {% endfor %}
            </tbody>
          </table>
{% endblock content %} 